@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&family=Pacifico&display=swap');

#appTitle {
    font-family: 'Cabin Sketch', cursive;
    font-size: 70px;
    text-shadow: 10px 10px 17px #404040;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 40px;
}

body {
    background: linear-gradient(-45deg, #ee7752, #ececec, #23a6d5, #23d5ab);
    background-size: 600% 600%;
    animation: gradient 10s ease infinite;
}

@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
  }

#messages {
    border: 1px solid blue;
    padding: 10px;
    border-radius: 20px;
    width: 400px;
    margin: 0 auto;
    height: 300px;
}

#composeMessage {
    margin: 0 auto;
    width: 400px;
}

.messageFrom {
    text-align: right;
    margin: 10px;
}

.messageTo {
    text-align: left;
    margin: 10px;
}
