#messages {
    border: 1px solid blue;
    padding: 10px;
    border-radius: 20px;
    width: 400px;
    margin: 0 auto;
    overflow-y: scroll; 
    height:300px;
}

#composeMessage {
    margin: 0 auto;
    width: 400px;
}

.messageFrom {
    text-align: right;
    margin: 10px;
}

.messageTo {
    text-align: left;
    margin: 10px;
}